@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
body{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	/*border: solid 1px black;*/
}
.part{
	width: 50%;
	float:left;
	/*border: solid 1px black;*/
}
.ruc{
	border: solid 1px black;
	padding: 5px;
	display: inline-block;
	margin: 5px 0px;
}
.asunto{
	/*border: solid 1px green;*/
	margin-top: 190px;
}
.border{
	border: solid 1px black;
}
.center{
	text-align: center;
}
.table-items, .table-total{
	width: 100%;
	border-collapse:collapse;
	border: none;
}
.right{
	text-align: right;
}
.th1{
	width: 8%;
}
.th2{
	width: 60%;
}
.th3{
	width: 8%;
}
.th4{
	width: 12%;
}
.th5{
	width: 12%;
}
@page { margin-bottom: 80px; }
/*header { position: fixed; top: -60px; left: 0px; right: 0px; background-color: lightblue; height: 50px; }*/
/*footer { position: fixed; bottom: -60px; left: 0px; right: 0px; background-color: lightblue; height: 50px; }*/
footer { position: fixed; bottom: -60px; left: 0px; right: 0px; height: 50px; }